# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Module configuration file. Can individually enable/disable modules from GTBeesMatrix and its addons
##########################################################################################################

modules {
    # Core of GTBMMod
    B:"gtbm:core"=true

    # Forestry For Minecraft Integration Module
    # Module Dependencies: [ gtbm:integration ]
    # Mod Dependencies: [ forestry ]
    B:"gtbm:forestry"=true

    # Gregtech Food Option Integration Module
    # Module Dependencies: [ gtbm:integration ]
    # Mod Dependencies: [ gregtechfoodoption ]
    B:"gtbm:gtfo_integration"=true

    # General GTBeesMatrix Integration Module. Disabling this disables all integration modules.
    # Module Dependencies: [ gtbm:core ]
    B:"gtbm:integration"=true

    # The One Probe Integration Module
    # Module Dependencies: [ gtbm:integration ]
    # Mod Dependencies: [ theoneprobe ]
    B:"gtbm:top_integration"=true
}


