# Configuration file

forestry {
    # If true, each will be uncraftable.
    # default: true
    B:bottler=true

    # If true, each will be uncraftable.
    # default: true
    B:carpenter=true

    # If true, each will be uncraftable.
    # default: true
    B:centrifuge=true

    # If true, each will be uncraftable.
    # default: true
    B:fabricator=true

    # If true, each will be uncraftable.
    # default: true
    B:farmBlock=true

    # If true, each will be uncraftable.
    # default: true
    B:fermenter=true

    # Recipes for various items in Forestry will be more difficult
    # default: NORMAL
    # valid: [NORMAL, HARD]
    S:gameMode=HARD

    # If true, each will be uncraftable.
    # default: true
    B:moistener=true

    # If true, each will be uncraftable.
    # default: true
    B:rainmaker=true

    # If true, each will be uncraftable.
    # default: true
    B:raintank=true

    # If true, each will be uncraftable.
    # default: true
    B:squeezer=true

    # If true, each will be uncraftable.
    # default: true
    B:still=true
}


