# Configuration file

gendustry {
    # If true, each will be uncraftable.
    # default: true
    B:industrialApiary=true

    ##########################################################################################################
    # metatileentityids
    #--------------------------------------------------------------------------------------------------------#
    # MetaTileEntity ID settings
    ##########################################################################################################

    metatileentityids {
        # Starting ID for Industrial Apiary (uses 12 consecutive IDs).
        # default: 20000
        # Min: 1
        # Max: 32767
        I:industrialApiaryStartId=20000

        # ID for Mega Apiary.
        # default: 20500
        # Min: 1
        # Max: 32767
        I:megaApiaryId=20500
    }

}


