/overrides/config/jei/*
!/overrides/config/jei/jei.cfg
/overrides/config/jeiutilities/*
/overrides/config/JustEnoughCalculation/*
!/overrides/config/JustEnoughCalculation/main.cfg
/overrides/config/AppliedEnergistics2/CustomRecipes.cfg
/overrides/config/AppliedEnergistics2/VersionChecker.cfg
/overrides/config/AppliedEnergistics2/items.csv
/overrides/config/journeymap_ModInfo.cfg
/overrides/config/journeymap_server.cfg
/overrides/config/ftbbackups.cfg
/overrides/mods/memory_repo
/overrides/mods/1.12.2
/overrides/scripts/recipes.zs
/overrides/config/smoothfont/*
!/overrides/config/smoothfont/smoothfont.cfg
/overrides/config/brandon3055/ProjectIntelligence/*
/overrides/config/gregtech/terminal/guide/*
