/overrides/config/AppliedEnergistics2/CustomRecipes.cfg
/overrides/config/AppliedEnergistics2/items.csv
/overrides/config/AppliedEnergistics2/VersionChecker.cfg
/overrides/config/jei/*
/overrides/config/fpsreducer/*
/overrides/config/ftbbackups.cfg
/overrides/config/splash.properties
/overrides/mods/memory_repo
/overrides/mods/1.12.2
/overrides/scripts/recipes.zs
