# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Module configuration file. Can individually enable/disable modules from GTExpert and its addons
##########################################################################################################

modules {
    # Applied Energistics 2 Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ appliedenergistics2 ]
    B:"gtexpert:ae_integration"=true

    # Avaritia Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ avaritia ]
    B:"gtexpert:avaritia_integration"=true

    # Chisel Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ chisel ]
    B:"gtexpert:chisel_integration"=true

    # Core GTExpert content.
    B:"gtexpert:core"=true

    # CraftTweaker Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ crafttweaker ]
    B:"gtexpert:ct_integration"=true

    # Draconic Evolution & Draconic Additions Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ draconicevolution, draconicadditions ]
    B:"gtexpert:deda_integration"=true

    # Ender IO Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ enderio ]
    B:"gtexpert:eio_integration"=true

    # Forestry For Minecraft Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ forestry ]
    B:"gtexpert:ffm_integration"=true

    # GregTech Food Option Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ gregtechfoodoption ]
    B:"gtexpert:gtfo_integration"=true

    # General GTExpert Integration Module. Disabling this disables all integration modules.
    # Module Dependencies: [ gtexpert:core ]
    B:"gtexpert:integration"=true

    # Thaumcraft Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ thaumcraft ]
    B:"gtexpert:tc_integration"=true

    # TheOneProbe Integration Module
    # Module Dependencies: [ gtexpert:integration ]
    # Mod Dependencies: [ theoneprobe ]
    B:"gtexpert:top_integration"=true
}


