# Configuration file

general {

    ##########################################################################################################
    # id setting
    #--------------------------------------------------------------------------------------------------------#
    # Setting for MetaTileEntityID
    # Use in case of duplicates
    # WARNING: Changing the value may cause the machine to disappear 
    ##########################################################################################################

    "id setting" {
        # Start ID for Multiblock Machine
        # Default: 21500
        I:startMulti=21500
    }

}


