# Configuration file

general {

    ##########################################################################################################
    # id setting
    #--------------------------------------------------------------------------------------------------------#
    # Setting for MetaTileEntityID
    # Use in case of duplicates
    # WARNING: Changing the value may cause the machine to disappear 
    ##########################################################################################################

    "id setting" {
        # Start ID for Multiblock Machine
        # Default: 21500
        I:startMulti=21500
    }

    "mode setting" {
        # Whether to generate T1 (Electronic) and T2 (Integrated) circuit recipe
        # Default: false
        B:generateLowTierCircuitRecipe=false

        # Mode of this mod
        # Valid: EASY, NORMAL, HARD
        # Default: EASY
        S:mode=HARD

        # If true, MufflerHatch can be used in the Cleanroom.
        # Default: false
        B:modifyCR=false

        # Minimum tier of MufflerHatch available within Cleanroom.
        # This does nothing if B:modifyCR is false.
        # Default: 8 (UHV)
        # Min: 1
        # Max: 8
        I:tierMuffler=8
    }

    "feature setting" {
        # Whether to add UHV+ Rotor Holders.
        # Of course, UEV+ requires "highTierContent" to be enabled, and there is no recipe.
        # Default: true
        B:addHighTierRotorHolders=true

        # Whether to add LV and HV Rotor Holders.
        # Default: false
        B:addLowTierRotorHolders=false

        # Whether to add more Parallel Hatch.
        # 1024+ Parallel Hatches were added
        # Default: false
        B:addMoreParallel=true

        # Whether to add the "Output" line of the Multiblock Controller.
        # This change applies only to Multiblock in GTConsolidate.
        # Default: false
        B:addOutputLine=false

        # Whether to add Power Enhanced Rotor Holders.
        # Default: true
        B:addPowerEnhancedRotorHolders=true

        # Whether to add Speed Enhanced Rotor Holders.
        # Default: true
        B:addSpeedEnhancedRotorHolders=true

        # Configures the Material obtainable from the Intake Hatch for specific Dimension IDs.
        # In dimensions not listed here, the obtainable material defaults to "air"
        # Format: DimID@modId:materialName
        # Default: -1@gregtech:nether_air, 1@gregtech:ender_air
        S:intakeHatchDimensionMaterials <
            -1@gregtech:nether_air
            1@gregtech:ender_air
         >

        # Whether to display the current parallel in the "Max Parallel" line of the Multiblock Controller.
        # This change applies only to Multiblock in GTConsolidate.
        # Default: false
        B:modifyParallelLine=false

        # Whether to display the time in the "Progress" line of the Multiblock Controller.
        # This change applies only to Multiblock in GTConsolidate.
        # Default: false
        B:modifyProgressLine=false

        # Display settings for "Progress".
        # Only effective when modifyProgressLine is true.
        # Valid: sec, min, hr
        # Default: sec
        S:progressUnit=sec
    }

}


