# Configuration file

general {
    # Change to a recipe using Assembly Line.
    # CEu's enableHighTierSolars to true to reflect.
    # Default: false
    B:hardSolarPanel=true

    # Tools and Armors recipes to GT standards.
    # Default: false
    B:hardToolArmorRecipes=true

    # Making Planks and Sticks even more difficult.
    # CEu's nerfWoodCrafting to true to reflect.
    # Default: false
    B:moreNerfWoodCrafting=true

    # AE2 Voltage Tier.
    # Default: 1 (LV)
    # Min: 1
    # Max: 14
    I:voltageTierAE2=3
}


