# Configuration file

general {

    ae2 {
        # Sets the texture index used for the crafting item slot
        # Min: 0
        # Max: 6
        I:CraftingSlotTextureIndex=1

        # Disable the Build permission check for AE2's security station
        B:SecurityCache=true

        # Make the grid always think it's full of energy
        B:debugEnergy=false

        # Use the new Patten Terminal Gui
        B:newPattenGui=true
    }

    ic2 {
        # The additional energy storage provided by each Energy Storage Upgrade
        I:energyStorageEnergy=10000

        # The increased energy consumption caused by each Overclocker Upgrade
        D:overclockerEnergy=1.6

        # The reduced processing time effected by each Overclocker Upgrade
        D:overclockerTime=0.7
    }

    lazyae {
        # Fixes related to the lazy ae feature may occasionally introduce errors; disabling it can prevent such issues.
        B:EnableRepair=true
    }

    te5 {
        # Set the efficiency of the Fuel Catalyzer, which defaults to 15
        I:FuelCatalyzer=15

        # Whether to enable energy consumption boost, just like the original upgrade state
        B:FuelCatalyzerQuantityChanges=true

        # Whether to enable energy consumption boost, just like the original upgrade state
        B:IncreasedEnergyConsumption=false

        # The maximum chance of modifying an item to be reused is 100
        B:SecondaryProbability=true

        # Prevent the Thermal Expansion Cyclic Assembler from operating when the output slot contains items to avoid potential bugs
        B:SequentialFabricatorMixin=true
    }

    ftbu {
        # Change the name of the nbtedit command of FTB
        B:ModifyCmdEditNBT=false
    }

    tf5 {
        # When the offhand has a red map and the player is crouching, cancel the clear setting
        B:RedDiagramOfTheDeputy=true
    }

    botania {
        # Allow the use of sparks on Botanical Brewery
        B:BrewerySparkSupport=false

        # Fix some bugs. If there is a problem as a result, it should be closed
        B:BugFix=true

        # Allow flor geradora to directly link to the mana pool
        B:FlowerLinkPool=false

        # Allow the use of sparks on Runic Altar
        B:RuneAltarSparkSupport=false

        # If false, Spark Support will not take effect
        B:SparkSupport=false
    }

    cofhcohe {
        # Modify the number of upgrades that can be placed in slots
        # Min: 1
        # Max: 64
        I:SocketLimitModified=1
    }

    nee {
        # Whether to enable NEE compatibility for ae2exttable.
        B:ae2e=true
    }

}


