version: "3.8"

# Repository for the image below: https://github.com/itzg/docker-minecraft-server

services:
  minecraft:
    image: itzg/minecraft-server:java8
    ports:
      - 25565:25565
    environment:
      JVM_OPTS: -XX:MaxMetaspaceSize=512M -Dfml.queryResult=confirm -Dterminal.jline=false -Dterminal.ansi=true -XX:+UseContainerSupport -XX:MaxRAMPercentage=95.0 -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:+DisableExplicitGC -XX:+UseG1GC -XX:MaxTenuringThreshold=15 -XX:MaxGCPauseMillis=30 -XX:GCPauseIntervalMillis=150 -XX:InitiatingHeapOccupancyPercent=45 -XX:SurvivorRatio=8 -XX:TargetSurvivorRatio=90 -Dfml.ignorePatchDiscrepancies=true -Dfml.ignoreInvalidMinecraftCertificates=true -XX:+UseFastAccessorMethods -XX:+UseCompressedOops -XX:+OptimizeStringConcat -XX:ReservedCodeCacheSize=2048m -XX:+UseCodeCacheFlushing -XX:SoftRefLRUPolicyMSPerMB=10000 -Djava.net.preferIPv4Stack=true -Dlog4j.configurationFile=log4j2_112-116.xml
      USE_AIKAR_FLAGS: true
      EULA: true
      TYPE: AUTO_CURSEFORGE
      CF_SLUG: gregtech-expert-2
      # Get the ID of the Server version from CF. The following is an example and specifies v2.6.7
      # https://www.curseforge.com/minecraft/modpacks/gregtech-expert-2/files
      CF_FILE_ID: 5613389
      # Default RAM allocation
      MEMORY: 4G
      OPS: Steve
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    tty: true
    stdin_open: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 8G
