# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Module configuration file. Can individually enable/disable modules from GregTech and its addons
##########################################################################################################

modules {
    # Baubles Integration Module
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ baubles ]
    B:"gregtech:baubles_integration"=true

    # Chisel Integration Module
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ chisel ]
    B:"gregtech:chisel_integration"=true

    # Core GregTech content. Disabling this disables the entire mod and all its addons.
    B:"gregtech:core"=true

    # CraftTweaker Integration Module
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ crafttweaker ]
    B:"gregtech:ct_integration"=true

    # General GregTech Integration Module. Disabling this disables all integration modules.
    # Module Dependencies: [ gregtech:core ]
    B:"gregtech:integration"=true

    # JustEnoughItems Integration Module
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ jei ]
    B:"gregtech:jei_integration"=true

    # OpenComputers Integration Module
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ opencomputers ]
    B:"gregtech:oc_integration"=true

    # GregTech Tools Module. Cannot be disabled for now.
    # Module Dependencies: [ gregtech:core ]
    B:"gregtech:tools"=true

    # TheOneProbe Integration Module
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ theoneprobe ]
    B:"gregtech:top_integration"=true

    # Integration module for Baubles
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ baubles ]
    B:"sussypatches:baubles_integration"=true

    # Core module of SussyPatches. Not to be confused with SuSy Core.
    B:"sussypatches:core"=true

    # Integration module for ConnectedTextureMod
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ ctm ]
    B:"sussypatches:ctm_integration"=true

    # Integration module for JustEnoughItems
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ ctm ]
    B:"sussypatches:jei_integration"=true

    # Integration module for ModularUI
    # Module Dependencies: [ gregtech:integration ]
    # Mod Dependencies: [ modularui ]
    B:"sussypatches:modularui_integration"=true
}


