# Configuration file

~CONFIG_VERSION: 1.0.0

enablefluid {
    # Enables バイオエタノール fluid. [default: true]
    B:bio.ethanol=true

    # Enables バイオマス fluid. [default: true]
    B:biomass=true

    # Enables 蜂蜜 fluid. [default: true]
    B:for.honey=true

    # Enables 液化ガラス fluid. [default: true]
    B:glass=true

    # Enables 削氷 fluid. [default: true]
    B:ice=true

    # Enables フルーツジュース fluid. [default: true]
    B:juice=true

    # Enables ミルク fluid. [default: true]
    B:milk=true

    # Enables 種子油 fluid. [default: true]
    B:seed.oil=true

    # Enables 蜂蜜酒 fluid. [default: true]
    B:short.mead=true
}


enablefluidblock {
    # Enables バイオエタノール in-world fluid block. [default: true]
    B:bio.ethanol=true

    # Enables バイオマス in-world fluid block. [default: true]
    B:biomass=true

    # Enables 蜂蜜 in-world fluid block. [default: true]
    B:for.honey=true

    # Enables 液化ガラス in-world fluid block. [default: true]
    B:glass=true

    # Enables 削氷 in-world fluid block. [default: true]
    B:ice=true

    # Enables フルーツジュース in-world fluid block. [default: true]
    B:juice=true

    # Enables ミルク in-world fluid block. [default: true]
    B:milk=true

    # Enables 種子油 in-world fluid block. [default: true]
    B:seed.oil=true

    # Enables 蜂蜜酒 in-world fluid block. [default: true]
    B:short.mead=true
}


