# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Module configuration file. Can individually enable/disable modules from GTExpert and its addons
##########################################################################################################

modules {
    # Better Builder's Wands Integration Module
    # Module Dependencies: [ gtmt:integration ]
    # Mod Dependencies: [ betterbuilderswands ]
    B:"gtmt:bbw_integration"=true

    # Chisel Integration Module
    # Module Dependencies: [ gtmt:integration ]
    # Mod Dependencies: [ chisel ]
    B:"gtmt:chisel_integration"=true

    # Core of GTMTMod
    B:"gtmt:core"=true

    # General GTExpert Integration Module. Disabling this disables all integration modules.
    # Module Dependencies: [ gtmt:core ]
    B:"gtmt:integration"=true

    # Storage Drawers Module
    # Module Dependencies: [ gtmt:integration ]
    # Mod Dependencies: [ storagedrawers ]
    B:"gtmt:storage_drawers_integration"=true
}


