name: Deploy Modpack
on:
  push:
    tags:
      - 'v*-release'
      - 'v*-beta'
      - 'v*-alpha'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get the version
        id: get_version
        run: |-
          echo ::set-output name=VERSION::$(echo ${GITHUB_REF} | sed -e 's#refs/tags/##g' | awk -F'-' '{print $1}')
          echo ::set-output name=LEVEL::$(echo ${GITHUB_REF} | sed -e 's#refs/tags/##g' | awk -F'-' '{print $2}')

      - name: Set the version
        run: |-
          MODPACKVERSION=v${{ steps.get_version.outputs.VERSION }}
          echo "GregTech Expert 2 ${MODPACKVERSION} ${{ steps.get_version.outputs.LEVEL }}" > ./overrides/resources/custommainmenu/version.txt
          sed -i -e "s/MODPACKVERSION/${MODPACKVERSION}/g" manifest.json

      - name: Archive Release Client
        uses: thedoctor0/zip-release@master
        with:
          type: "zip"
          filename: "./GTExpert2-${{ steps.get_version.outputs.VERSION }}-${{ steps.get_version.outputs.LEVEL }}.zip"
          exclusions: '*.git* .editorconfig LICENSE *.md */.github/* *mods/* *serverfiles/*'

      # - name: Archive Release Server
      #   uses: thedoctor0/zip-release@master
      #   with:
      #     filename: "./GTExpert2-${{ steps.get_version.outputs.VERSION }}-tmp-server.zip"
      #     exclusions: '*.git* .editorconfig LICENSE *.md */.github/* *mods/*'

      # - name: Build Server
      #   uses: henkelmax/build-modpack-server-action@v1.0.0
      #   with:
      #     modpack-path: "./GTExpert2-${{ steps.get_version.outputs.VERSION }}-tmp-server.zip"
      #     output-path: "./GTExpert2-${{ steps.get_version.outputs.VERSION }}-${{ steps.get_version.outputs.LEVEL }}-server.zip"

      - name: Upload Curseforge
        uses: henkelmax/upload-curseforge-modpack-action@v1.0.0
        with: 
          api-token: ${{ secrets.CF_API_TOKEN }}
          project-id: "565238"
          modpack-path: "./GTExpert2-${{ steps.get_version.outputs.VERSION }}-${{ steps.get_version.outputs.LEVEL }}.zip"
          # modpack-server-path: "./GTExpert2-${{ steps.get_version.outputs.VERSION }}-server.zip"
          changelog: 'Check the changes here. [Github - CHANGELOG.md](https://github.com/GTModpackTeam/gregtech-expert-2/blob/main/CHANGELOG.md "")' 
          changelog-format: "markdown"
          game-version: "1.12.2"
          display-name: "GTExpert2-${{ steps.get_version.outputs.VERSION }}-${{ steps.get_version.outputs.LEVEL }}"
          # server-display-name: "GTExpert2-${{ steps.get_version.outputs.VERSION }}-server"
          release-type: "${{ steps.get_version.outputs.LEVEL }}"
