# Configuration file

"applied energistics 2" {
    # Integrate Printed Silicon and various Circuit creation molds.
    # Default: false
    B:moveSteelShape=true

    # The voltage at which AE can be started.
    # The material is also adjusted to each voltage.
    # Default: 3 (HV)
    # Min: 2
    # Max: 10
    I:voltageTier=3
}


