# Configuration file

"ender io" {
    # Add Shapeless Recipe in CoreMod Machines and EIO Machines.
    # This change adds a recipe for equivalent exchange of HV machines and EIO machines
    # Default: false
    B:addShapelessRecipeMachines=true

    # The voltage at which EIO can be started.
    # The material is also adjusted to each voltage.
    # Default: 3 (HV)
    # Min: 1
    # Max: 8
    I:voltageTier=3
}


