# Configuration file

"ender io" {
    # Add Shapeless Recipe in CoreMod Machines and EIO Machines.
    # This change adds a recipe for equivalent exchange of HV machines and EIO machines
    # Default: false
    B:addShapelessRecipeMachines=true

    # Start ID for EIO materials
    # Default: 24101
    # Min: 0
    # Max: 2147483647
    I:materialStartId=24101

    # Start ID for EIO MetaTileEntities
    # Default: 11010
    # Min: 0
    # Max: 2147483647
    I:mteStartId=11010

    # The voltage at which EIO can be started.
    # The material is also adjusted to each voltage.
    # Default: 3 (HV)
    # Min: 1
    # Max: 8
    I:voltageTier=3
}


